@using GrovemoorSite.Pages.Games.IdleTest.Models

<div class="p-4 border border-1 border-black rounded fixed bottom-4 right-4">
    <h3>ActiveTaskContainer</h3>
    @if (CurrentTask != null)
    {
        <div>
            <p>
                @CurrentTask.Title | @CurrentTask.TickCounter / @CurrentTask.TicksTotal | @_progress
            </p>
            <ProgressBar Progress="@_progress"></ProgressBar>
        </div>
    }
    else
    {
        <p>
            No active Task
        </p>
    }
</div>

@code {
    [Parameter] 
    public ActiveTask? CurrentTask { get; set; }
    [Parameter]
    public Timer TickTimer { get; set; } = new();
    
    private int _progress = 40;
    
    
    protected override void OnParametersSet()
    {
        TickTimer.Elapsed += OnTick;
    }


    private void OnTick(object? source, ElapsedEventArgs e)
    {
        if (CurrentTask == null)
        {
            return;
        }
        CurrentTask.TickCounter++;
        _progress = System.Math.Min(100, (int)((100.0 / (float)CurrentTask.TicksTotal) * (float)CurrentTask.TickCounter));
        if (CurrentTask.TickCounter >= CurrentTask.TicksTotal)
        {
            CurrentTask.OnTaskComplete.Invoke();
            if (CurrentTask.Repeatable)
            {
                bool taskStarted = CurrentTask.StartTask();
                if (taskStarted)
                {
                    CurrentTask.TickCounter = 0;
                }
                else
                {
                    CurrentTask = null;
                }
            }
            else
            {
                CurrentTask = null;
            }
        }
        StateHasChanged();
    }
}