@using GrovemoorSite.Pages.Games.IdleTest.Components
@using GrovemoorSite.Pages.Games.IdleTest.Models
<h3>FieldView</h3>

<ProgressBar Progress="@progress" class="w-[25rem]" />
<button @onclick="()=> progress++">
    click
</button>

@code {
    [Parameter]
    public Inventory Inventory { get; set; }
    public int progress { get; set; }
}
