@using GrovemoorSite.Pages.Games.IdleTest.Components
@using GrovemoorSite.Pages.Games.IdleTest.Models
<h3>FieldView</h3>

<button @onclick="()=> Progress++">
    click
</button>
@Progress
<div class="w-[25rem]">
    <ProgressBar Progress="@Progress"/>
</div>

@code {
    [Parameter]
    public Inventory Inventory { get; set; }
    public int Progress { get; set; }
}
