@using GrovemoorSite.Pages.Games.IdleTest.Models

<h3>Inventory</h3>

<div class="grid grid-rows-3 gap-2">
    @foreach (var item in Inventory.Items.Keys)
    {
        <div class="flex flex-row">
            <p>@Inventory.Items[item]</p>
            <p>@AutoLoad.Items[item].Name@(Inventory.Items[item] > 0 ? "s" : "")</p>
            <span class="material-symbols-outlined">
                @AutoLoad.Items[item].Icon
            </span>
        </div>
    }
</div>


@code {
}
