@using GrovemoorSite.Pages.Components
@inherits LayoutComponentBase
<div class="column relative flex">
    <main class="relative flex flex-grow flex-col">
        <GrovemoorSite.Layout.Front_Layouts.Header />

        @* Body *@
        <article class="content flex-grow overflow-y-auto px-4 pb-16">
            @Body
        </article>
    </main>
</div>
