@using GrovemoorSite.Layout.Portal_Layouts
@using GrovemoorSite.Pages.Components
@inherits LayoutComponentBase

<div class="flex h-screen">
    @* SideBar *@
    <NavigationMenu />
    @* Body*@
    <div class="flex-1 overflow-auto py-6 pr-40 pl-80">
        @Body
    </div>
</div>
