@using GrovemoorSite.Pages.Cookbook.Components;

<h1 class="text-2xl">
    Homemade noodles
</h1>

<RecipeOverviewBox IngredientSections="@ingredientSections" Title="Ingredients" />



@code {
    private List<IngredientSection> ingredientSections = [
        new (
            "Noodles",
            [
                new Ingredient("Flour", 300, MeaseringUnit.Gram),
                new Ingredient("Water", 150, MeaseringUnit.MilliLiter),
                new Ingredient("Salt", 1, MeaseringUnit.TeaSpoon)
            ]
        ),
        new (
            "Meat and marinade",
            [
                new Ingredient("Pork chop", 2, MeaseringUnit.None),
                new Ingredient("Soy sauce", 2, MeaseringUnit.TableSpoon),
                new Ingredient("Sesame oil", 1, MeaseringUnit.TableSpoon),
                new Ingredient("Honey", 1, MeaseringUnit.TableSpoon),
                new Ingredient("Garlic", 3, MeaseringUnit.None),
                new Ingredient("Ginger powder", 2, MeaseringUnit.TeaSpoon),
                new Ingredient("Sesame seeds", 2, MeaseringUnit.TableSpoon, true),
                new Ingredient("Gojugaru", 2, MeaseringUnit.TableSpoon, true, "Adjust amount to fit your spice level")
            ]
        ),
        new (
            "Vegetables and spices for frying",
            [
                new Ingredient("Gojujjang", 2, MeaseringUnit.None, false, "Adjust amount to fit your spice level"),
                new Ingredient("Onion", 2, MeaseringUnit.TableSpoon),
                new Ingredient("Carrot", 1, MeaseringUnit.TableSpoon),
                new Ingredient("Garlic", 3, MeaseringUnit.TableSpoon),
                new Ingredient("Pepper", 1, MeaseringUnit.TeaSpoon),
                new Ingredient("Broccoli", 150, MeaseringUnit.Gram, true),
                new Ingredient("Green beans", 150, MeaseringUnit.Gram, true),
                new Ingredient("Pointed white/red cabbage", 200, MeaseringUnit.Gram, true),
            ]
        )
    ];
}