@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@page "/components"
<PageTitle>@Loc["Components_Title"]</PageTitle>


<div class="grid-cols-3">
    <div class="flex">
        This is a reference page for some custom components
    </div>
</div>

@code {

}