@inject IStringLocalizer<SharedResource> Loc
@layout FrontPageLayout
@page "/"

<PageTitle>@Loc["Home_Title"]</PageTitle>

<p>Guten Tag</p>

<img class="h-50 w-50 animate-spin rounded-full object-cover" src="images/profile.jpeg"/>

@code {
    
}