@inject IStringLocalizer<SharedResource> Loc
@layout MainLayout
@page "/"

<PageTitle>@Loc["Home_Title"]</PageTitle>

<div>
    Test
    <p class="text-red-500">
        Rød
    </p>
    <span class="w-96 h-32 bg-amber-600 shadow-2xl rounded-lg"></span>
</div>

@code {
    
}