@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@page "/kombucha"

<PageTitle>@Loc["Kombucha_Title"]</PageTitle>

<div class="grid-cols-3">
    <div class="flex">
        I do Kombucha I guess
    </div>
</div>

@code {

}