@inject IStringLocalizer<SharedResource> Loc
@page "/projects"

<PageTitle>@Loc["Projects_Title"]</PageTitle>

<h1 class="text-3xl">Project Page</h1>

This is where I write about projects and such


@code {

}
